# Restart Field

In this turorial we deomnstrate processing of restart models. Recall that restart model is a special option used in simulators to continue modeling from the moment the calculation of the previous model is finished. The previous model is called the histrorical model. 

You need to unzip `Results.zip` archives in `open_data/egg` and `open_data/egg_restart` directories before running this tutorial.

Required imports:

In [1]:
import sys
sys.path.append('..')

from deepfield import Field, RestartField

The restart model is loaded using `RestartField`:

In [2]:
field = RestartField('../open_data/egg_restart/egg_restart.data').load()

INFO:Field:Start reading egg_restart.data
INFO:Field:[egg_restart.data:1] Loading RESTARTDATE
INFO:Field:[egg_restart.data:55] Include /home/dvoloskov/code/DeepField/open_data/egg_restart/schedule.inc
INFO:Field:Start reading schedule.inc
INFO:Field:Finish reading schedule.inc
INFO:Field:Finish reading egg_restart.data
INFO:Field:Start reading /home/dvoloskov/code/DeepField/open_data/egg/RESULTS/Egg_Model_ECL/Egg_Model_ECL.EGRID
...INFO:Field:Finish reading ../open_data/egg_restart/RESULTS/egg_restart/egg_restart.SMSPEC
INFO:Field:===== Field summary =====
WARNING:Field:Missed start date, set default 1 JAN 1973.
INFO:Field:STATES attributes: PRESSURE, SOIL, SWAT
INFO:Field:WELLS attributes: RESULTS, WCONINJE, COMPDAT, WCONPROD, WELSPECS, WELLTRACK
INFO:Field:=========================

The loaded `field` contains data for both the historical model and the restart model. The historical model can be accessed using the `field.parent` attribute, while the data for the restart model is stored directly in `field`.

Some componets are shared between both models, for example, grid data:

In [3]:
field.grid is field.parent.grid

True

In contrast, the production rates in the two models are different because they correspond to different time periods. For example, let us compare the production rates in the historical model:

In [4]:
field.parent.wells['PROD1'].results

,DATE,#WSTAT1,#WSTAT2,WWPR,WOPR,WBHP,WLPR
0,2011-06-15,0.000000e+00,0.000000e+00,0.000000,0.000000,0.0,0.000000
1,2011-07-15,-6.230757e+34,-2.941516e-39,0.000000,131.873627,395.0,131.873627
2,2011-08-14,-6.230757e+34,-2.941516e-39,0.000000,132.573273,395.0,132.573273
3,2011-09-13,-6.230757e+34,-2.941516e-39,0.000000,132.983170,395.0,132.983170
4,2011-10-13,-6.230757e+34,-2.941516e-39,0.000000,133.484787,395.0,133.484787
...,...,...,...,...,...,...,...
116,2020-12-24,-6.230757e+34,-2.941516e-39,132.605484,2.330047,395.0,134.935532
117,2021-01-23,-6.230757e+34,-2.941516e-39,132.581528,2.304971,395.0,134.886490
118,2021-02-22,-6.230757e+34,-2.941516e-39,132.558685,2.280370,395.0,134.839066
119,2021-03-24,-6.230757e+34,-2.941516e-39,132.536514,2.256245,395.0,134.792755
120,2021-04-23,-6.230757e+34,-2.941516e-39,132.512695,2.232557,395.0,134.745255

with production rates in the restart model:

In [5]:
field.wells['PROD1'].results

,DATE,#WSTAT1,#WSTAT2,WWPR,WOPR,WBHP,WLPR
0,2019-01-04,-6.230757e+34,-2.941516e-39,133.563553,3.113436,395.0,136.676987
1,2019-02-03,-6.230757e+34,-2.941516e-39,134.154190,3.090418,385.0,137.244598
2,2019-03-05,-6.230757e+34,-2.941516e-39,133.442139,3.034603,385.0,136.476746
3,2019-04-04,-6.230757e+34,-2.941516e-39,133.382401,2.995238,385.0,136.377625
4,2019-05-04,-6.230757e+34,-2.941516e-39,133.325104,2.956700,385.0,136.281815
5,2019-06-03,-6.230757e+34,-2.941516e-39,133.268616,2.918844,385.0,136.187469
6,2019-07-03,-6.230757e+34,-2.941516e-39,133.209518,2.881600,385.0,136.091125
7,2019-08-02,-6.230757e+34,-2.941516e-39,133.150360,2.845115,385.0,135.995468
8,2019-09-01,-6.230757e+34,-2.941516e-39,133.094666,2.809367,385.0,135.904037
9,2019-10-01,-6.230757e+34,-2.941516e-39,133.041245,2.774348,385.0,135.815598
10,2019-10-31,-6.230757e+34,-2.941516e-39,132.987823,2.740100,385.0,135.727936

The historical and restart models can be concatenated in a single model:

In [6]:
full_field = field.full_model()

The concatenated model covers both historical and restart time periods, e.g.:

In [7]:
full_field.wells['PROD1'].results

,DATE,#WSTAT1,#WSTAT2,WWPR,WOPR,WBHP,WLPR
0,2011-06-15,0.000000e+00,0.000000e+00,0.000000,0.000000,0.0,0.000000
1,2011-07-15,-6.230757e+34,-2.941516e-39,0.000000,131.873627,395.0,131.873627
2,2011-08-14,-6.230757e+34,-2.941516e-39,0.000000,132.573273,395.0,132.573273
3,2011-09-13,-6.230757e+34,-2.941516e-39,0.000000,132.983170,395.0,132.983170
4,2011-10-13,-6.230757e+34,-2.941516e-39,0.000000,133.484787,395.0,133.484787
...,...,...,...,...,...,...,...
98,2019-07-03,-6.230757e+34,-2.941516e-39,133.209518,2.881600,385.0,136.091125
99,2019-08-02,-6.230757e+34,-2.941516e-39,133.150360,2.845115,385.0,135.995468
100,2019-09-01,-6.230757e+34,-2.941516e-39,133.094666,2.809367,385.0,135.904037
101,2019-10-01,-6.230757e+34,-2.941516e-39,133.041245,2.774348,385.0,135.815598
102,2019-10-31,-6.230757e+34,-2.941516e-39,132.987823,2.740100,385.0,135.727936

Done!